@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
:root{
    --padding-container: 100px 0; 
    --color-title: #001A49;

}

body{
     
        font-family: "Bebas Neue", sans-serif;      
}
.container{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    padding: var(--padding-container)
    

}
.hero::before{
    content: "";
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../images/fondusushi.jpg');
    background-size: cover;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 95%, 0 80%);
    z-index: -1;

}
.hero{
    width: 100%;
    height: 100vh;
    min-height: 600px;
    max-height: 800px;
    position: relative;
    display:grid;
    grid-template-rows: 100px 1fr;
    color: #fff;
}
.nav {
    --padding-container: 0;
    height: 100%;
    display: flex;
    align-items: center;
}
.nav__title{
    font-weight: 700;
}
.nav__link{
    margin-left: auto;
    padding: 0%;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    gap: 2em;
}
.nav__items{
    list-style: none;
}
.nav__links{
    color: #fff;
    text-decoration: none;
}
.nav__menu{
    margin-left: auto;
    cursor: pointer;
    display: none;

}
.nav__img{
    display: block;
    width: 30px;
}
.nav__close{
    display: var(--show, none);
}

.hero__container{
    max-width: 800px;
    display: grid;
    --pading-container: 0;
    grid-auto-rows: max-content;
    align-content: center;
    gap: 1em;
    padding-bottom: 100px;
    text-align: center;
}
.hero__title{
    font-size: 3rem;
}
.hero__paragraph{
    margin-bottom: 20px;
}
.cta{
    display: inline-block;
    background-color:rgb(110, 220, 224);
    justify-self: center;
    color: black;
    text-decoration: none;
    padding: 13px 30px;
    border-radius: 32px;
}
.nav__lo{
    margin-top: 5px;
    margin-left: 2px;
}
.container__footer{
    size: 300px;
    background-color: rgb(151, 151, 151);
}

.footer_section {
    background-color: #6a6a6a;
    color: #ffffff;
    padding: 75px 0 40px 0;
    text-align: center;
  }
  
  .footer_section h4 {
    font-size: 28px;
  }
  
  .footer_section h4,
  .footer_section .footer-logo {
    font-weight: 600;
    margin-bottom: 20px;
    font-family: "Pacifico", cursive;
  }
  
  .footer_section p {
    color: #dbdbdb;
  }
  
  .footer_section .footer-col {
    margin-bottom: 30px;
  }
  
  .footer_section .footer_contact .contact_link_box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  
  .footer_section .footer_contact .contact_link_box a {
    margin: 5px 0;
    color: #ffffff;
  }
  
  .footer_section .footer_contact .contact_link_box a i {
    margin-right: 5px;
  }
  
  .footer_section .footer_contact .contact_link_box a:hover {
    color: #ffbe33;
  }
  
  .footer_section .footer-logo {
    display: block;
    font-weight: bold;
    font-size: 38px;
    line-height: 1;
    color: #ffffff;
  }
  
  .footer_section .footer_social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  
  .footer_section .footer_social a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #222831;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background-color: #000000;
    border-radius: 100%;
    margin: 0 2.5px;
    font-size: 18px;
  }
  
  .footer_section .footer_social a:hover {
    color: #ffbe33;
  }
  
  .footer_section .footer-info {
    text-align: center;
    margin-top: 25px;
  }
  
  .footer_section .footer-info p {
    color: #ffffff;
    margin: 0;
  }
  
  .footer_section .footer-info p a {
    color: inherit;
  }