.hero__cont{
    background-color: #dfdaff;
}
    .titulo{
font-size: 30px;
background-color: #ba9efb;
border-radius: 10px;
text-align: center;
padding: 30px;
margin: 20px;
    }
.box {
    position: relative;
    margin-right: 200px;
    margin-left: 200px;
    margin-top: 10px;
    background-color: #D9CEFF;
    border-radius: 10px;
    color: rgb(0, 0, 0);
    border-radius: 30px;
    overflow: hidden;
    background: linear-gradient(to bottom, #f1f2f3 25px, primary2 25px);

    .tittle__food {
        text-align: center;
        padding: 10px;
    }

    .img-box {
      background: #EBE5FF;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 215px;
      border-radius: 0 0 0 45px;
      margin: -1px;
      padding: 25px;

      img {
        max-width: 100%;
        max-height: 145px;
        transition: all .2s;
      }
    }

    .detail-box {
        text-align: center;
      padding: 25px;

      h5 {
        font-weight: 600;
      }

      p {
        font-size: 15px;
      }

      h6 {
        margin-top: 10px;
      }
    }

    .options {
      display: flex;
      justify-content: space-between;

      a {
        width: 40px;
        height: 40px;
        border-radius: 100%;
        background: #ffc400;
        display: flex;
        justify-content: center;
        align-items: center;

        svg {
          width: 18px;
          height: auto;
          fill: rgb(255, 255, 255);
        }
      }
    }

    &:hover {
      .img-box {
        img {
          transform: scale(1.1);
        }
      }
    }
  }

  .btn-box {
    display: flex;
    justify-content: center;
    margin-top: 45px;
  }
.price_food{
    font-size: 20px;
    margin-left: auto;
    padding-right: 10px;
}
.food_tit{
    font-size: 20px;
}